* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

body {
    background: url("../img/Battle\ Pass\ Glitches.gif")no-repeat center;
    height: 100%;
    max-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

ion-icon {
    font-size: 20px;
    padding: 10px 4px 10px 0;
}

main {
    margin: 0 auto;
}

#container {
    margin: 20px;
    width: 400px;
    height: 8px;
}

/* Navbar Principal */

.navbar {
    width: 100%;
    height: 45px;
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 0.9rem;
    font-family: 'Inter', sans-serif;
}

.nav-bar-vlrt {
    width: 100%;
    padding: 0 10px 0 0;
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    list-style: none;
}

.card-text-nav {
    width: 15rem;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.text-nav1 {
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 900;
    padding: 0 0 5px 0;
}

.text-nav2 {
    text-transform: uppercase;
    font-size: 0.9rem;
}

.back-icon {
    font-size: 25px;
}

.vlr-icon {
    width: 60px;
    height: 60px;
    padding: 10px;
}

.itens-ion {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    font-family: 'Bebas Neue', sans-serif;
}

.icon-nm {
    width: 15px;
}

.icons-vp-rp {
    width: 26px;
    padding: 5px;
}

.itens-navbar {
    display: flex;
    align-items: center;
}

/* Fim Navbar */

/* NavbarProfile */

.navbar-profile {
    float: right;
    display: flex;
    flex-direction: row;
    color: white;
    cursor: pointer;
}

.nav-bar-vlrt-bar {
    max-width: 100%;
    padding: 3px;
    gap: 3px;
    height:54.94rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #141d2880;
}

.itens-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-family: 'Bebas Neue', sans-serif;
}

.card-profile {
    width: 45px;
}

.people {
    width: 45px;
    height: 45px;
    font-family: 'Bebas Neue', sans-serif;
    background-color: #303540;
}

/* Fim NavBarProfile */

/* Select EP */
.text-episode {
    color: #eff2a2;
    font-size: 4rem;
    letter-spacing: 3px;
    font-family: 'Bebas Neue', sans-serif;
}

.select-episode {
    max-width: 100%;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem 0 0 0;
    justify-content: center;
}

.radio-input input {
    display: none;
}

.radio-input {
    width: 35%;
    position: relative;
    display: flex;
    height: 2.3rem;
    align-items: center;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    justify-content: center;
    text-transform: uppercase;
    overflow: hidden;
    border-bottom: 1px solid #ffffff;
}

.radio-input label {
    width: 100%;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    font-weight: 900;
    letter-spacing: -1px;
    font-size: 0.8rem;
}

.radio-input label:has(input:checked) {
    color: #ffffff;
    background: #8e8e8e69;
    border-bottom: 4px solid #eff2a2;
}

/* Fim Select Game */

/* Buy Card */

.card-buy{
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
    padding:10px 25rem 10px 0;
}

.icons-vp-buy{
    width: 20px;
    height: 20px;
}

.card-buy-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 14rem;
    background: #74b6aabc;
    border: 2px solid #ffff;
    
}

.text-card-buy-h1{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 1.3rem;
    color: #fff;
    gap: 5px;
    
}
.text-card-buy-p{
    background: #e5ebb6;
    text-align: center;
    font-size: 0.8rem;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1px;
    padding:2px 0 2px 0;
    font-weight: 500;
}
/* Fim Buy */

/* Arms */

.armas_main{
    width: 40rem;
    aspect-ratio: 18/10;
    object-fit: contain;
}

.arms_content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: static;
}

/* Fim Arms */

/* EP Itens */

.episode {
    max-width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin: 0.9rem;
    gap: 10px;
}

.card-recompensa{
    display:flex;
    align-items: center;
    flex-direction: column;
    padding-inline: 20px;
}

.content-recompensa{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.text-card-recom{
    margin: 8.5rem 9.7rem 0 0;
    position: absolute;
    font-family: 'Inter', sans-serif;   
    color: #fff;
    font-size: 0.8rem;
    text-transform: uppercase;
}

.card,
.card1,
.card2,
.card3,
.card4,
.card5,
.card6 {
    width: 120px;
    height: auto;
    background: #ffffff4d;
    transition: all 0.3s;
    border: 1px solid #ffffff;
    background-size: cover;
    background-position: center;
}

.img0 {
    background-image: url('../img/ammo1.webp');
}

.img1 {
    background-image: url('../img/ammo2.webp');
}

.img2 {
    background-image: url('../img/ammo3.webp');
}

.img3 {
    background-image: url('../img/ammo4.webp');
}

.img4 {
    background-image: url('../img/ammo5.webp');
}

.img5 {
    background-image: url('../img/ammo6.webp');

}

.img6 {
    background-image: url('../img/ammo7.webp');
}

.card:hover,
.card1:hover,
.card2:hover,
.card3:hover,
.card4:hover,
.card5:hover,
.card6:hover {
    transform: scale(1.05);
}



.title {
    margin: 15px 0 0 15px;
    font-weight: 900;
    font-size: 15px;
    letter-spacing: 1.5px;
}

.ep-basic {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 80px 0px 0 0px;
    font-size: 10px;
    font-weight: 900;
    gap: 53px;
}

.span {
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 13px;
}

.icon-close {
    color: #f2f687;
}

.hr-itens {
    max-width: 100%;
    margin: 0 auto;
    width: 55%;
}

.ammo_display {
    margin:7.7rem;
}

/* Fim  EP Itens */

/* CHAT */

.chat {
    display: flex;
    width: 19rem;
    height: 2rem;
}

.card-chat {
    display: flex;
    width: 20rem;
    height: 2rem;
    align-content: center;
    flex-wrap: wrap;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.445);
}

.text-chat {
    display: flex;
    padding: 0 5px 0 10px;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 0.8rem;
    font-weight: 100;
    color: #00e1ff;
}

.caixa-text-chat {
    width: 13rem;
    height: 1.3rem;
    border-radius: 1px;
    border: none;
    background-color: rgba(70, 70, 70, 0.123);
}

.icon-chat {
    padding: 0 0 0 10px;
    color: white;
}

/* Final Chat */
