* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

body {
    background: url("../img/Valorant-Ascent-—-Live-Wallpaper.gif")no-repeat center;
    background-blend-mode: color;
    background-color: rgba(0, 0, 0, 0.812);
    height: 100%;
    max-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

ion-icon {
    font-size: 20px;
    padding: 10px 4px 10px 0;
}

main {
    margin: 0 auto;
}

#container {
    margin: 20px;
    width: 400px;
    height: 8px;
}

/* Navbar Principal */

.navbar {
    width: 100%;
    height: 45px;
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 0.9rem;
    font-family: 'Inter', sans-serif;
}

.nav-bar-vlrt {
    width: 100%;
    padding: 0 10px 0 0;
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    list-style: none;
}

.card-text-nav {
    width: 15rem;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.text-nav1 {
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 900;
    padding: 0 0 5px 0;
}

.text-nav2 {
    text-transform: uppercase;
    font-size: 0.9rem;
}

.back-icon {
    font-size: 25px;
}

.vlr-icon {
    width: 60px;
    height: 60px;
    padding: 10px;
}

.itens-ion {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    font-family: 'Bebas Neue', sans-serif;
}

.icon-nm {
    width: 15px;
}

.icons-vp-rp {
    width: 26px;
    padding: 5px;
}

.itens-navbar {
    display: flex;
    align-items: center;
}

/* Fim Navbar */

/* NavbarProfile */

.navbar-profile {
    float: right;
    display: flex;
    flex-direction: row;
    color: white;
    cursor: pointer;
}

.nav-bar-vlrt-bar {
    max-width: 100%;
    padding: 3px;
    gap: 3px;
    height: 61.95rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #141d2880;
}

.itens-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-family: 'Bebas Neue', sans-serif;
}

.card-profile {
    width: 45px;
}

.people {
    width: 45px;
    height: 45px;
    font-family: 'Bebas Neue', sans-serif;
    background-color: #303540;
}

/* Fim NavBarProfile */

/* Select Game */


.select-mode {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 1rem 0 0 0;
    justify-content: center;
}

.radio-input input {
    display: none;
}

.radio-input {
    --container_width: 33%;
    position: relative;
    display: flex;
    height: 2.3rem;
    align-items: center;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    justify-content: center;
    text-transform: uppercase;
    width: var(--container_width);
    overflow: hidden;
    border-bottom: 1px solid #ffffff;
}

.radio-input label {
    width: 100%;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    font-weight: 900;
    letter-spacing: -1px;
    font-size: 0.8rem;
}

.radio-input label:has(input:checked) {
    color: #ffffff;
    background: #8e8e8e69;
    border-bottom: 3px solid #f0fdcf;
}

/* Fim Select Game */


/* Rank */
.rank {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-rank {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-rank {
    padding: 1.5rem 0 0.8rem 0;
    width: 8rem;
}

.rank-text {
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2rem;
    color: #feffbf;
}

.progress {
    margin: 5px auto;
    padding: 0;
    width: 15rem;
    height: 5px;
    overflow: hidden;
    background: #e5e5e5;
    border-radius: 6px;
}

.bar {
    position: relative;
    float: left;
    min-width: 1%;
    height: 100%;
    width: 30px;
    background: #00ffd5;
}

.card-text-rank {
    display: flex;
    gap: 9rem;
    font-family: 'Inter', sans-serif;
    color: #ffffff;
    font-size: 0.6rem;
    justify-content: space-evenly;
}

.percent {
    color: #00ffd5;
}


/* Fim Rank */

/* CHAT */

.chat {
    display: flex;
    width: 19rem;
    height: 2rem;
}

.card-chat {
    display: flex;
    width: 20rem;
    height: 2rem;
    align-content: center;
    flex-wrap: wrap;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.445);
}

.text-chat {
    display: flex;
    padding: 0 5px 0 10px;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 0.8rem;
    font-weight: 100;
    color: #00e1ff;
}

.caixa-text-chat {
    width: 13rem;
    height: 1.3rem;
    border-radius: 1px;
    border: none;
    background-color: rgba(70, 70, 70, 0.123);
}

.icon-chat {
    padding: 0 0 0 10px;
    color: white;
}

/* Final Chat */

/* Game */

.game-history {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    padding: 4rem 0 0 0;
}

.icon-rank {
    width: 10%;
}

.icon-rank-1 {
    width: 6%;
    height: 6%;
    padding: 0 0 0 0;
}

.icon-map{
    width: 18%;
    margin-left: 15rem;
    opacity: calc(80%);
}

ul.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.defeat {
    background: #f735351b !important;
    border-left: 4px solid #ac5d6a !important;
}

.card-list {
    display: flex;
    align-items: center;
    width: 53rem;
    background: #00ffd531;
    border-left: 4px solid #00ffd5;
    transition: all 0.3s ease;
    cursor: pointer;
    justify-content:flex-start;
    gap: 10px;
    border-radius: 2px;
    overflow: hidden;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

.card-text-hst {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.card-text-hst-1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

.title {
    font-weight: bold;
    font-size: 1.4rem;
    letter-spacing: 1px;
    position: relative;
    z-index: 1;
    line-height: 24px;
    color: #00e1ff;
}

.title-1 {
    font-weight: bold;
    font-size: 0.9rem;
    letter-spacing: 1px;
    position: relative;
    z-index: 1;
    line-height: 24px;
    color: #ffffff;
}

.title-2 {
    padding: 0 1rem 0 1rem;
    font-weight: bold;
    font-size: 0.6rem;
    letter-spacing: 1px;
    position: relative;
    z-index: 1;
    line-height: 24px;
    color: #f8e648;
}

.subtitle {
    position: relative;
    z-index: 1;
    font-size: 1.2rem;
    opacity: 0.7;
    color: #ffffff;
}

.subtitle-1 {
    z-index: 1;
    font-size: 0.7rem;
    opacity: 0.7;
    color: #ffffff;
}

.list li:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    transition: width 0.3s ease;
}

/* Fim Game */