* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

body {
    background: url("../img/Valorant-Ascent-—-Live-Wallpaper.gif")no-repeat center;
    background-blend-mode: color;
    background-color: rgba(0, 0, 0, 0.883);
    height: 100%;
    max-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

ion-icon {
    font-size: 20px;
    padding: 10px 4px 10px 0;
}

main {
    margin: 0 auto;
}

#container {
    margin: 20px;
    width: 400px;
    height: 8px;
}

/* Navbar Principal */

.navbar {
    width: 100%;
    height: 45px;
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 0.9rem;
    font-family: 'Inter', sans-serif;
}

.nav-bar-vlrt {
    width: 100%;
    padding: 0 10px 0 0;
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    list-style: none;
}

.card-text-nav {
    width: 15rem;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.text-nav1 {
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 900;
    padding: 0 0 5px 0;
}

.text-nav2 {
    text-transform: uppercase;
    font-size: 0.9rem;
}

.back-icon {
    font-size: 25px;
}

.vlr-icon {
    width: 60px;
    height: 60px;
    padding: 10px;
}

.itens-ion {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    font-family: 'Bebas Neue', sans-serif;
}

.icon-nm {
    width: 15px;
}

.icons-vp-rp {
    width: 26px;
    padding: 5px;
}

.itens-navbar {
    display: flex;
    align-items: center;
}

/* Fim Navbar */

/* NavbarProfile */

.navbar-profile {
    display: flex;
    flex-direction: row;
    float: right;
    color: white;
    cursor: pointer;
}

.nav-bar-vlrt-bar {
    padding: 3px;
    gap: 3px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #141d2880;
}

.itens-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-family: 'Bebas Neue', sans-serif;
}

.card-profile {
    width: 45px;
}

.people {
    width: 45px;
    height: 45px;
    font-family: 'Bebas Neue', sans-serif;
    background-color: #303540;
}

/* Fim NavBarProfile */

/* Main Collection */
.card-collection {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}


/* Fim Collection */


/* Player Card & Spray */

.card-player-spray {
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.player {
    width: 15%;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.img-player {
    width: 80%;
    aspect-ratio: 1/2;
    height: auto;
}

.text-player-h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.5rem;
    font-weight: 200;
    color: #ffffff;
}

.spray {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.card-spray {
    width: 13rem;
    height: auto;
    background-color: #09387018;
}

.content-spray {

    display: flex;
    align-items: center;
    flex-direction: column;
}

.text-spray-h1 {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.5rem;
    font-weight: 200;
    color: #ffffff;
}

.text-spray {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-size: 0.8rem;
    font-weight: 100;
    width: 14rem;
    height: 1.5rem;
    color: #ffffff;
    background-color: #0229592d;
}

.img-spray {
    max-width: 100%;
    width: 60px;
    height: 60px;
}

/* Fim PLayer & Spray */

/* SIDEARMS */

.container-side{
    display: flex;
    flex-direction: column;
    border: 1px red solid;
    gap: 60px;
}

.side_arms {
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-side-h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.5rem;
    font-weight: 100;
   color: #ffffff;
}

.card-side {
    display: flex;
    max-width: 100%;
    width: 12rem;
    background-color: #09387018;
}

.content-side {
    max-width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.text-side {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-size: 0.8rem;
    font-weight: 100;
    width: 12rem;
    padding: 2px;
    color: #ffffff;
    background-color: #0229592d;
}

.img-side {
    object-fit: scale-down;
    width: 10rem;
    padding: 15px;
    height: 5rem;
}

/* Fim SIDEARMS */

/* CHAT */

.chat {
    display: flex;
    width: 19rem;
    height: 2rem;
}

.card-chat {
    display: flex;
    width: 20rem;
    height: 2rem;
    align-content: center;
    flex-wrap: wrap;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.445);
}

.text-chat {
    display: flex;
    padding: 0 5px 0 10px;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 0.8rem;
    font-weight: 100;
    color: #00e1ff;
}

.caixa-text-chat {
    width: 13rem;
    height: 1.3rem;
    border-radius: 1px;
    border: none;
    background-color: rgba(70, 70, 70, 0.123);
}

.icon-chat {
    padding: 0 0 0 10px;
    color: white;
}

/* Final Chat */