* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

body {
    background: url("../img/Battle\ Pass\ Glitches.gif")no-repeat center;
    height: 100%;
    max-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

ion-icon {
    font-size: 20px;
    padding: 10px 4px 10px 0;
}

main {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

/* Navbar */

.navbar {
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: space-between;
    color: #fff;
    align-items: center;
    z-index: 999;
}


.background-nav {
    width: 35rem;
    height: auto;
    background-color: #13161F;
    clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
}

.nav-links ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.play-navbar {
    width: 15rem;
    padding: 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ff3a3aa6;
    color: #ffffff;
    clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
}

.text-play {
    display: flex;
    align-items: center;
    font-size: 2rem;
    letter-spacing: 3px;
    font-family: 'Bebas Neue', sans-serif;
}

.play-navbar:hover {
    background: #646464a6;
}

.nav-links ul li {
    margin: 5px;
}

.nav-links ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    transition: color 0.3s;
}

.nav-links ul li a:hover {
    color: #FF4654;
}

.logo img {
    height: 40px;
}

.user-profile img {
    padding: 5px;
    height: 27px;
}

.user-profile span {
    font-weight: bold;
    font-size: 14px;
}

.img-bar {
    display: flex;
    aspect-ratio: 6/6;
    width: 30px;
}

.navbar-button {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.button0 {
    display: flex;
    width: 34px;
}

.button0:hover {
    cursor: pointer;
    transform: translate(5px, 0px);
    transition-duration: .2s;
}

.button-text {
     width: 100%;
    font-size: 1rem;
    display: flex;
    font-family: 'Inter', sans-serif;
}

.navbar-miss {
    display: flex;
    align-items: center;
    flex-direction: row;
    font-family: 'Inter', sans-serif;
}

.nav-bar-vlrt {
    width: 100%;
    gap: 3px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}

.point-nav {
    display: flex;
    padding: 0 0rem 0 0.9rem;
}

.settings-nav {
    display: flex;
    justify-content: center;
    padding: 0 11px 0 11px;
}

.settings {
    font-size: 30px;
}

.icons-miss {
    display: flex;
    align-items: center;
    width: 20px;
    padding: 2px;
}

.itens-navbar {
    display: flex;
    align-items: center;
}

.user-profile {
    width: 100%;
}

.nav-links {
    display: flex;
    width: 100%;
    justify-content: center;
}

/* Fim Navbar */

/* NavbarProfile */

.navbar-profile {
    position: absolute;
    right: 0;
    display: flex;
    height: 100%;
    flex-direction: row;
    color: white;
    cursor: pointer;
}

.nav-bar-vlrt-bar {
    width: 100%;
    height: 100%;
    padding: 3px;
    gap: 3px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #303b46;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
}

.itens-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-family: 'Bebas Neue', sans-serif;
}

.card-profile {
    width: 45px;
}

.people {
    width: 45px;
    height: 45px;
    font-family: 'Bebas Neue', sans-serif;
    background-color: #303540;
}

/* Fim NavBarProfile */

/* Select Game */


.select-mode {
    max-width: 90rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 1rem 0 1rem 0;
    justify-content: center;
    
}

.radio-input input {
    display: none;
}

.radio-input {
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    justify-content: center;
    text-transform: uppercase;
    overflow: hidden;

}

.radio-input label {
    padding: 15px 15px 10px 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    font-weight: 900;
    letter-spacing: -1px;
    font-size: 0.8rem;
    border-bottom: 1px solid #ffffff;  
}

.radio-input label:has(input:checked) {
    color: #30e7ee;
    border-bottom: 2px solid #30e7ee;
}

/* Fim Select Game */

/* Party */

.close-party {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0 15px 0;
}

.card-party {
    display: flex;
    align-items: center;
    width: 15rem;
    height: 2.6rem;
    background-color: #99999956;
}

.text-party {
    display: flex;
    justify-content: center;
    padding: 0 25px 0 70px;
    font-family: 'Inter', sans-serif;
    font-size: 0.7rem;
    font-weight: 100;
    color: #ffffff;
}

/* The switch - the box around the slider */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 2em;
    height: 1em;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: '';
    height: 24px;
    width: 24px;
    bottom: -2px;
    background-color: #929292;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #ffffff;
}

input:checked+.slider:before {
    -webkit-transform: translateX(35px);
    -ms-transform: translateX(35px);
    transform: translateX(35px);
    background-color: #929292;
}

/* Fim Party */


/* Player */
.select-player {
    max-width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.card-player {
    width: 98%;
    padding: 1rem 0 0 0;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.player {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    width: 17rem;
    height: 36rem;
    color: #ffffff;
    background-color: #92929218;
    border-top: 1px solid #ffffff68;
    border-left: 1px solid #ffffff12;
    border-right: 1px solid #ffffff12;
}

.text-select {
    display: flex;
    justify-content: center;
    padding: 1rem 0 0 0;
    font-family: 'Inter', sans-serif;
    font-size: 0.7rem;
    font-weight: 100;
    color: #ffffff;
}

/* Fim Player */

/* SelectPlay */
.select-play {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 0 70px 0;
    gap: 40px;
    cursor: pointer;
}

.card-start {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16rem;
    height: 3.3rem;
    font-family: 'Bebas Neue', sans-serif;
    color: #ffffff;
    font-size: 1rem;
    background: linear-gradient(0deg, #fd3e8a0c 0%, rgba(237, 4, 4, 0.687) 100%);
    border: 1px solid #ffffff;
}

.card-leave {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12rem;
    height: 2rem;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 0.4rem;
    background-color: #92929218;
    border: 1px solid #ffffff;
}

.card-pratice {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12rem;
    height: 2rem;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 0.4rem;
    background-color: #92929218;
    border: 1px solid #ffffff;
}

.card-pratice:hover {
    background-color: #9292927b;
}

.card-leave:hover {
    background-color: #9292927b;
}

.card-start:hover {
    background-color: #9292927b;
}

.player:hover {
    background-color: #9292927b;
}

/* Fim SelectPlay */

/* CHAT */

.chat {
    display: flex;
    width: 19rem;
    height: 2rem;
    margin-top: -11px;
    position: absolute;
}

.card-chat {
    display: flex;
    width: 20rem;
    height: 2rem;
    align-content: center;
    flex-wrap: wrap;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.445);
}

.text-chat {
    display: flex;
    padding: 0 5px 0 10px;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 0.8rem;
    font-weight: 100;
    color: #00e1ff;
}

.caixa-text-chat {
    width: 13rem;
    height: 1.3rem;
    border-radius: 1px;
    border: none;
    background-color: rgba(70, 70, 70, 0.123);
}

.icon-chat {
    padding: 0 0 0 10px;
    color: white;
}

/* Final Chat */