@media (max-width: 425px) {
    .navbar {
        font-size: 0.7rem;
        background-color: #00000052;
    }

    .nav-bar-vlrt-bar {
        height: 37.6rem;
    }

    .vlr-icon {
        width: 50px;
        height: 50px;
    }

    .chat {
        position: fixed;
        margin-top: 36.3rem;
    }

    .card-chat {
        width: 14rem;
        height: 1.5rem;
    }

    .text-chat {
        font-size: 0.8rem;
    }

    .caixa-text-chat {
        width: 9rem;
        height: 1rem;
        border-radius: 1px;
        border: none;
        background-color: rgba(46, 46, 46, 0.74);
    }

    ion-icon {
        font-size: 15px;
        padding: 10px 4px 10px 0;
    }

    .icons-vp-rp {
        width: 17px;
        padding: 2px;
    }

    .icon-nm {
        width: 10px;
    }

    .menu-game {
        padding: 100px 0 0 20px;
    }

    .features {
        display: none;
    }

    .itens-content {
        font-size: 2rem;
    }

    .red {
        font-size: 3rem;
    }

    .card-ammo,
    .card-feature,
    .card-patch,
    .text-patch,
    .num-patch,
    .card-modes {
        width: 12rem;
    }
}