* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

body {
    background: url("../img/Battle\ Pass\ Glitches.gif")no-repeat center;
    height: 100%;
    max-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

ion-icon {
    font-size: 20px;
    padding: 10px 4px 10px 0;
}

main {
    margin: 0 auto;
}

/* Navbar Principal */

.navbar {
    width: 100%;
    height: 45px;
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 0.9rem;
    font-family: 'Inter', sans-serif;
}

.nav-bar-vlrt {
    width: 100%;
    padding: 0 10px 0 0;
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    list-style: none;
}

.card-text-nav {
    width: 15rem;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.text-nav1 {
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 900;
    padding: 0 0 5px 0;
}

.text-nav2 {
    text-transform: uppercase;
    font-size: 0.9rem;
}

.back-icon {
    font-size: 25px;
}

.vlr-icon {
    width: 60px;
    height: 60px;
    padding: 10px;
}

.itens-ion {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    font-family: 'Bebas Neue', sans-serif;
}

.icon-nm {
    width: 15px;
}

.icons-vp-rp {
    width: 26px;
    padding: 5px;
}

.itens-navbar {
    display: flex;
    align-items: center;
}

/* Fim Navbar */

/* NavbarProfile */

.navbar-profile {
    float: right;
    display: flex;
    flex-direction: row;
    color: white;
    cursor: pointer;
}

.nav-bar-vlrt-bar {
    max-width: 100%;
    padding: 3px;
    gap: 3px;
    height: 54.95rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #141d2880;
}

.itens-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-family: 'Bebas Neue', sans-serif;
}

.card-profile {
    width: 45px;
}

.people {
    width: 45px;
    height: 45px;
    font-family: 'Bebas Neue', sans-serif;
    background-color: #303540;
}

/* Fim NavBarProfile */

/* Main Store */
.card-store-main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.content-store {
    max-width: 100%;
    display: flex;
}

.text-store-h1 {
    display: flex;
    align-items: center;
    position: absolute;
    color: #fff;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2px;
    font-size: 1.5rem;
    padding: 20px;
    gap: 10px;
}

.text-store-h2 {
    display: flex;
    align-items: center;
    position: absolute;
    color: #fff;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2px;
    font-size: 6rem;
    padding: 60px 20px 0 20px;
}

.text-store-p {
    display: flex;
    align-items: center;
    position: absolute;
    color: #fff;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 2px;
    padding: 12rem 20px 0 20px;
}

.span-store {
    color: #efe572f9;
    font-size: 1.2rem;
    font-family: 'Inter', sans-serif;
}

.img-store {
    max-width: 100%;
    width: 70rem;
    border: 1px solid #fff;
}

/* Fim Store */

/* OFFER */
.card-offer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.content-offer {
    display: flex;
    align-items: center;
    max-width: 100%;
    padding: 5px;
    height: 28px;
    border-inline: 1px solid #fff;
    background-color: #141d28bc;
}

.text-offer-h1 {
    color: #fff;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.text-offer-span {
    color: #fff;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    font-size: 1.2rem;
    padding: 5px;
}

.text-offer-h2 {
    color: #fff;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    font-size: 1.2rem;
}

hr {
    width: 35rem;
}

/* Fim Offer */

/* Card Arms */
.cards-arms {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    padding: 10px;
}

.card {
    max-width: 100%;
    width: 210px;
    height: 140px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.335);
    transition: all 0.3s;
    border-bottom: 1px solid #ffffff;
}

.content-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.img0 {
    width: 100%;
    aspect-ratio: 10/3;
    display: flex;
    align-items: center;
    justify-content: center;
    rotate: 45deg;
    z-index: -10;
}

.card:hover {
    transform: scale(1.1);
}


.text-arms-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 10px 4px;
}

.text-arms-h1 {
    color: #fff;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    font-size: 1.1rem;
}

.text-arms-h2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    color: #fff;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    gap: 1px;
}

.text-arms-p {
    color: #fff;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
}

/* Fim Arms */