* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

body {
    background: url("../img/Battle\ Pass\ Glitches.gif")no-repeat center;
    height: 100%;
    max-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

ion-icon {
    font-size: 20px;
    padding: 10px 4px 10px 0;
}

main {
    margin: 0 auto;
}
/* Navbar */

.navbar {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    color: #fff;
    align-items: center;
}

.background-nav {
    width: 35rem;
    height: auto;
    background-color: #13161F;
    clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
}

.nav-links ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.play-navbar {
    width: 15rem;
    padding: 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ff3a3aa6;
    color: #ffffff;
    clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
}

.text-play {
    display: flex;
    align-items: center;
    font-size: 2rem;
    letter-spacing: 3px;
    font-family: 'Bebas Neue', sans-serif;
}

.play-navbar:hover {
    background: #646464a6;
}

.nav-links ul li {
    margin: 5px;
}

.nav-links ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    transition: color 0.3s;
}

.nav-links ul li a:hover {
    color: #FF4654;
}

.logo img {
    height: 40px;
}

.user-profile img {
    padding: 5px;
    height: 27px;
}

.user-profile span {
    font-weight: bold;
    font-size: 14px;
}

.img-bar {
    display: flex;
    aspect-ratio: 6/6;
    width: 30px;
}

.navbar-button {
    width: 100%;
    display: flex;
    align-items: center;
}

.button0 {
    width: 34px;
}

.button0:hover {
    cursor: pointer;
    transform: translate(5px, 0px);
    transition-duration: .2s;
}

.button-text {
    font-size: 1rem;
    display: flex;
    font-family: 'Inter', sans-serif;
}

.navbar-miss {
    display: flex;
    align-items: center;
    flex-direction: row;
    font-family: 'Inter', sans-serif;
}

.nav-bar-vlrt {
    width: 100%;
    gap: 3px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}

.point-nav {
    display: flex;
    padding: 0 0rem 0 0.9rem;
}

.settings-nav {
    display: flex;
    justify-content: center;
    padding: 0 11px 0 11px;
}

.settings {
    font-size: 30px;
}

.icons-miss {
    display: flex;
    align-items: center;
    width: 20px;
    padding: 2px;
}

.itens-navbar {
    display: flex;
    align-items: center;
}

.user-profile {
    width: 100%;
}

.nav-links {
    display: flex;
    width: 100%;
    justify-content: center;
}

/* Fim Navbar */

/* NavbarProfile */

.navbar-profile {
    float: right;
    display: flex;
    flex-direction: row;
    color: white;
    cursor: pointer;
}

.nav-bar-vlrt-bar {
    padding: 3px;
    gap: 3px;
    height: 94.6vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #303b46;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
}

.itens-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-family: 'Bebas Neue', sans-serif;
}

.card-profile {
    width: 45px;
}

.people {
    width: 45px;
    height: 45px;
    font-family: 'Bebas Neue', sans-serif;
    background-color: #303540;
}

/* Fim NavBarProfile */

/* Main Store */
.card-store-main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.content-store {
    max-width: 100%;
    display: flex;
}

.text-store-h1 {
    display: flex;
    align-items: center;
    position: absolute;
    color: #fff;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2px;
    font-size: 1.5rem;
    padding: 20px;
    gap: 10px;
}

.text-store-h2 {
    display: flex;
    align-items: center;
    position: absolute;
    color: #fff;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2px;
    font-size: 6rem;
    padding: 60px 20px 0 20px;
}

.text-store-p {
    display: flex;
    align-items: center;
    position: absolute;
    color: #fff;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 2px;
    padding: 12rem 20px 0 20px;
}

.span-store {
    color: #efe572f9;
    font-size: 1.2rem;
    font-family: 'Inter', sans-serif;
}

.img-store {
    max-width: 100%;
    width: 70rem;
    border: 1px solid #fff;
}

/* Fim Store */

/* OFFER */
.card-offer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.content-offer {
    display: flex;
    align-items: center;
    max-width: 100%;
    padding: 5px;
    height: 28px;
    border-inline: 1px solid #fff;
    background-color: #141d28bc;
}

.text-offer-h1 {
    color: #fff;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.text-offer-span {
    color: #fff;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    font-size: 1.2rem;
    padding: 5px;
}

.text-offer-h2 {
    color: #fff;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    font-size: 1.2rem;
}

hr {
    width: 35rem;
}

/* Fim Offer */

/* Card Arms */
.cards-arms {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    padding: 10px;
}

.card {
    max-width: 100%;
    width: 210px;
    height: 140px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.335);
    transition: all 0.3s;
    border-bottom: 1px solid #ffffff;
}

.content-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.img0 {
    width: 100%;
    aspect-ratio: 10/3;
    display: flex;
    align-items: center;
    justify-content: center;
    rotate: 45deg;
    z-index: -10;
}

.card:hover {
    transform: scale(1.1);
}


.text-arms-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 10px 4px;
}

.text-arms-h1 {
    color: #fff;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    font-size: 1.1rem;
}

.text-arms-h2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    color: #fff;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    gap: 1px;
}

.text-arms-p {
    color: #fff;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
}

/* Fim Arms */